:root{
    --primary: #1A8FF0;
    --secondary: #3D4955;
    --body-bg-color: #f9f9f9;
    --white: #fff;
    --black: #000;
    --success: #08AC44;
    --danger: #FF6B3D;
    --warning: #ffb13d;
    --facebook:#0d3a5f;
}